PORT=3000

POSTGRES_USER=socialai
POSTGRES_PASSWORD=your_local_postgres_password
POSTGRES_DB=social_ai
POSTGRES_PORT=5432

DATABASE_URL="postgresql://socialai:your_local_postgres_password@localhost:5432/social_ai?schema=public"